/*
    GENERAL STYLING
*/

/*
    Inspired by:
    https://justinjackson.ca/words.html
*/
body {
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 2em auto;
	max-width: 35em;
    background-color: #090909;
    color: #999999;
}

a:link {
    color: #3399ff;
}

/* 
    !!!!! FOR ALL CSS BELOW !!!!!
    MIGHT NEED TO BE CHANGED INTO SEPARATE SPECIALIZED CSS
*/


table {
    border-collapse: collapse;
}

table, td, th {
    border: solid;
}

/*
    Make <p> used to display feedback about input appear right next to the form
*/
p.feedback {
    margin: 0em 0em 1em 0em;
}

/*
    Make <label> display like a block element so that <input> will be directly below it rather than inline
*/
label {
    display: block;
}